@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#10131A];
  }
}

/* Scrollbar */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(173, 198, 255, 0.2);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(173, 198, 255, 0.4);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(173, 198, 255, 0.2) transparent;
}

/* Shimmer */
.shimmer {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.03);
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.06),
    transparent
  );
  animation: shimmer 1.2s linear infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
